$accent: #FDCB2F;

@import "marble";

// Root
@import "templates/root";
.content {
    padding-top: 25px;
}
#about {
    background:#292929;
}
#interested {
    background:#292929;
}
// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";
